.puppy {
	
}

.ban1{
margin-left: 3.7%
}

.text1{
	 
	 
}

.download1{
	text-indent: ;
	list-style-type: none;
	font-family: 'HelveticaBold';
	padding: 20px;
	margin-block-start: 0em;
	padding-inline-start: 0px;
	font-size: 16px;
}
.download1 li{
	display: inline;
	color: #4d5255;
	ma
	
}

.lima1{
	margin-left: 22.4%
}