.background{
	background: url(https://i.pinimg.com/originals/ac/1c/c8/ac1cc858be1a6fd49b74ae0472c2a367.jpg?epik=dj0yJnU9SXlxaW9zR1Bldm5jRVh4T2pzOF9zbnVuV29KMGFCckEmcD0wJm49T0RicmMzcWZ1NEIzLWZ2bWRVSnUzdyZ0PUFBQUFBR0Fad0Rv);
	background-repeat: no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    padding:0 23.8% 0 23.8%;
  
}



